:root {
  --primary: #087EF6;
  --secondary: #1c2d41;
  --additional: #f4f8fb;
  --black: #000000;
  --graylight:#818181;
  --bgmain:#f9fbfd;
  --gray400:#9eabc0;
  --white:#ffffff;
  --red:rgb(241, 1, 1);
  --green:#008000;
  --green1:#04c904;
  --green2:#01a801;
  --gray100:#ebebeb;
  --bordercolor:#dfdfdf;

// back color
  --lay:#e97b93;
  --lay1:#da4e6c;
  --lay2:#d35974;
  --lay3:#bd435d;
// lay color
  --back:#339fec;
  --back1:#2190e0;
  --back2:#1082d3;
  --back3:#2599ec;
  --sky: #60a5fa;

  --indigo-500: #818cf8;

}

// background-color: var(--color-gray400);